<?
        $i=0;
        $i++;
        $cfg['Servers'][$i]['user']          = 'USER_FOR_MYSQL';
        $cfg['Servers'][$i]['password']      = 'PASS_FOR_MYSQL';
	$cfg['Servers'][$i]['auth_type']     = 'config';
	$cfg['PmaAbsoluteUri_DisableWarning'] = FALSE;
?>
